.anyconnect
.jenkins/
.master.plan.swp
artifactory.credentials
the.plan
trigger.sh
.grails_history
.gitignore
.bash_it/
.bash_profile.bak
.dbshell
.dirs
.gvimrc
.history
.java/
.mongo/
.netrc
.node-gyp/
.npm/
.wireshark-etc/
.wireshark/
Google Drive/
WebScarab.properties
etc/eclipse/
.NERDTreeBookmarks
.bash_profile
.eclipse_keyring
.gem/
.gradle_backup/
.grails/
.groovy/
.h2.server.properties
.rvm/
logs/
.bzr.log
.conscript/
.project/
.htoprc
.sqldeveloper/
.subversion/
Calibre Library/
NOTICE
README
api.specification
cache/
compile/
interface/
ivy/
launch.specification
launch/
licenses/
.DS_Store
.JxBrowser/
.Trash/
.Xauthority
.android/
.bash_history
.cups/
.dbvis/
.dropbox/
.dvdcss/
.fontconfig/
.fonts/
.gdb_history
.gitconfig
.gradle.log
.gradle/
.gradle_bak/
.hg/
.hgignore
.hgrc
.ivy2/
.lesshst
.m2/
.my.cnf
.mysql_history
.nbprofiler/
.netbeans/
.old_git_video-services/
.old_gradle/
.old_m2/
.sbt.cache.lock
.sbt/
.scala_history
.sqlite_history
.ssh/
.subversion_IDEA/
.task/
.taskrc
.tasktopInfo
.twitter_oath
.vim/
.viminfo
.zenmap-etc/
.zenmap/
Desktop/
Documents/
Downloads/
Dropbox/
FrostWire/
Library/
Movies/
Music/
Pictures/
Public/
Sites/
VirtualBox VMs/
accounts.txt
arch_mtg.txt
bin/
cc.txt
cdn.txt
channels.csv
channels.numbers
code/
default-soapui-workspace.xml
git_steps_with_rod.txt
install.sh
mac.txt
master.plan
music.txt
opt/
orientation.txt
soapui-settings.xml
staff_meeting.txt
tmp/
urlguide.html
wiki

### linux stuff
.ICEauthority
.bash_logout
.cache/
.config/
.dbus/
.dmrc
.dropbox-dist/
.gconf/
.gconfd/
.gksu.lock
.gnome2/
.gnupg/
.gstreamer-0.10/
.gtk-bookmarks
.local/
.macromedia/
.org.eclipse.epp.usagedata.recording.userId
.pki/
.profile
.recently-used.xbel
.thumbnails/
.vboxclient-clipboard.pid
.vboxclient-display.pid
.vboxclient-seamless.pid
.workspace/
.xsession-errors
log
project
routes.sclasner
target
